<!doctype html>
<html>
<head>
  <title>Basic Pay</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
  <div class="container">

    <!-- header -->
    <div class="row underline">
      <div class="col-md-12">
        <h1>Basic Pay</h1>
      </div>
    </div>

  <!-- Error Info -->
  <div class="row spacer">
    <div class="col-lg-12 red">
      <%= errorMsg %>
    </div>
  </div>
</body>
</html>
